<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Shop</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #b7d7f7; 
        }
        
        .content-container {
            margin-top: 20px;
            text-align: center;
        }
        img {
            max-width: 80%;
            height: auto;
            margin-bottom: 80px;
        }

        h1 {
            margin-bottom: 60px; /* Add margin-bottom to create space */
        }

    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
