<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Shop</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #5b80a5; 
        }
        /* Optional: Add custom styles */
        .content-container {
            margin-top: 50px;
            text-align: center;
        }
        img {
            max-width: 80%;
            height: auto;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container content-container">
        <h1>Welcome to Dhaka Restaurant!</h1>
        {% load static %}
        <img src="{% static 'image.jpg' %}" alt="Food Image">
        {% include 'products.html' %}
    </div>  
</body>
</html>
